 /* css of the body frame and look feel  */
 .frame{
    height: 500px;
    width: 300px;
    border-radius: 40px;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: inset 0 0 20px 3px rgb(9, 9, 9);
    -webkit-box-reflect: below 8px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
}
@keyframes frame-gradient-animation {
	0% {
        box-shadow: inset 0 0 20px 3px #6909ef;
	}
	20% {
		box-shadow: inset 0 0 20px 3px #520a94;
	}
	40% {
		box-shadow: inset 0 0 20px 3px #080fdb;
	}
	50% {
		box-shadow: inset 0 0 20px 3px #0c491b;
	}
	70% {
		box-shadow: inset 0 0 20px 3px #c1be10;
	}
	80% {
		box-shadow: inset 0 0 20px 3px #f96101;
	}
    100% {
		box-shadow: inset 0 0 20px 3px #f90501;
	}
}

#color-frame {
    transition:box-shadow ease-in-out 0.2s;
	animation-name: frame-gradient-animation;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;   
}
.speaker{
    height:10px;
    width:50px;
    background-color: rgb(24, 13, 13);
    margin: 10px;
    border-radius: 5px;
    margin-bottom: -15px;
    
}

.rotate
{
    position:absolute;
    right:10%;
    top:60%;
    width:30px;
    height:30px;
    border-radius: 100%;
    outline:none;
    border:none; 
}
.rotate-clockwise
{
    transform: rotateZ(90deg); 
    margin-top: 50px !important;

}
.rotate-anti-clockwise
{
    transform: rotateZ(-90deg);
} 
.rframe{
    height:550px !important;  
}
.rspeaker{
    z-index:10;
    margin-top:10px; 

} 